@import "responsive.scss";
.container {
  overflow-x: hidden;
  width: 100%;
  background-color: rgba(82, 135, 249, 0.073);
  border-radius: 1rem;
  display: flex;
  @include lg {
    height: 50%;
  }
  @include sm {
    height: 150px;
  }
  .image-wrapper {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      @include lg {
        height: 75%;
      }
      @include sm {
        height: 40%;
      }
    }
  }
  .info {
    display: flex;
    width: 75%;
    height: 100%;
    .left {
      height: 100%;
      width: 75%;
      display: flex;
      justify-content: space-evenly;
      font-size: 1.3rem;
      flex-direction: column;

      .title {
        @include lg {
          font-size: 1.8rem;
        }
        @include sm {
          font-size: 1.3rem;
        }
      }
    }
    .right {
      height: 100%;
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .price {
        font-size: 2.5rem;
      }
    }
  }
}
