.container {
  // margin-top: 30px;
  height: calc(100vh - 110px);
  .title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    user-select: none;
  }
  .products-wrapper {
    height: inherit;
    display: flex;
    .products-list {
      overflow-y: scroll;
      flex: 1;
      height: inherit;
    }
    .order-summary {
      flex: 0.35;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      .wrapper-summary {
        height: 95%;
        width: 90%;
        border: 1px solid black;
        border-radius: 1rem;
        .title {
          margin-top: 1rem;
          font-size: 2.8rem;
        }
        p {
          margin-left: 30px;
          font-size: 2rem;
        }
      }
    }
  }
}
