@import "responsive.scss";
.slider-container {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  .left-arrow,
  .right-arrow {
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 2;
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(211, 232, 249);
    position: absolute;
    opacity: 0.5;
    &:hover {
      opacity: 100%;
    }
  }
  .left-arrow {
    left: 10px;
  }
  .right-arrow {
    right: 10px;
  }
  .slide-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all 1s ease;

    .slide {
      display: flex;
      align-items: center;
      width: 100vw;
      height: 100%;
      display: flex;
      .image-container {
        display: flex;
        flex: 0.5;
        width: 100%;
        position: relative;
        height: 100%;
        .image {
          @include lg {
            height: 100%;
          }
          @include sm {
            z-index: 0;
            height: 100%;
            position: absolute;
          }
          img {
            background-color: black;
          }
        }
      }
      .info-container {
        z-index: 1;
        font-size: 1.5rem;
        @include lg {
          flex: 0.6;
        }
        @include sm {
          flex: 0;
        }
        p {
          background-color: rgba(255, 255, 255, 0.642);
        }
        text-align: center;
        width: 100%;
        .shop-button {
          background-color: rgba(255, 255, 255, 0.642);
          font-size: 1.5rem;
          cursor: pointer;
          padding: 10px;
          font-weight: 100;
        }
      }
    }
  }
}
